#container {
    display: flex;
    flex-direction: column;

    button {
        padding: 10px;
        margin-bottom: 10px;
        
        img {
            width: 100px;
            height: 100px;
        }
    }
}